.div1 {
	background-color: darkred;
	width: 50%;
	height: 20%;
	margin: 20px;
}
.div2 {
	background-color: yellow;
	width: 300px;
	height: 50px;
	margin: 20px;
}
.div0 {
	background-color: blue;
	margin: 20px;

}